@font-face {
  font-family: 'icon-lanit';
  src:  url('icon-lanit.eot?2h9q4w');
  src:  url('icon-lanit.eot?2h9q4w#iefix') format('embedded-opentype'),
    url('icon-lanit.ttf?2h9q4w') format('truetype'),
    url('icon-lanit.woff?2h9q4w') format('woff'),
    url('icon-lanit.svg?2h9q4w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-lanit' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #8d93a2;
}
.icon-basket:before {
  content: "\e901";
  color: #4689b9;
}
.icon-calendar:before {
  content: "\e902";
  color: #bdbfc5;
}
.icon-cardiogram:before {
  content: "\e903";
  color: #f24f4b;
}
.icon-doc:before {
  content: "\e904";
  color: #558dd5;
}
.icon-dumbbell:before {
  content: "\e905";
  color: #4689b9;
}
.icon-fishing:before {
  content: "\e906";
  color: #4689b9;
}
.icon-home:before {
  content: "\e907";
  color: #f24f4b;
}
.icon-jpg:before {
  content: "\e908";
  color: #ac28df;
}
.icon-palm:before {
  content: "\e909";
  color: #82c3df;
}
.icon-pdf:before {
  content: "\e90a";
  color: #f06262;
}
.icon-pencil:before {
  content: "\e90b";
  color: #4689b9;
}
.icon-phg:before {
  content: "\e90c";
  color: #f6be34;
}
.icon-slippers:before {
  content: "\e90d";
  color: #82c3df;
}
.icon-xls:before {
  content: "\e90e";
  color: #2e932f;
}
