
* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

html {
	height: 100%;	
}

body {
	height: 100%;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}



//@import 'all/bootstrap/less/bootstrap.less';
@import "all//fotorama/fotorama.less"; 
@import "all/grid.less"; 
// @import "all/normalize.less";
@import "all/slider.less";
@import "all/mixins.less";
@import "all/variables.less"; 
@import "all/fonts.less"; 
@import "all/header.less"; 
@import "all/footer.less"; 
@import "all/input.less";  
@import "all/btn.less"; 
@import "all/title.less";   
@import "all/free.less";  
@import "all/text.less"; 
@import "all/map.less"; 
@import "all/interview.less"; 
@import "all/vouchers.less"; 
@import "all/select.less"; 

@import "all/calendar.less"; 
@import "all/datepicker.less"; 

@import "all/wrapper.less"; 
@import "all/advertising.less"; 
@import "all/questions.less"; 
@import "all/dropdown.less"; 
@import "all/places.less"; 
@import "all/stars-rating.less"; 
@import "all/container-block.less"; 
@import "all/popup.less"; 
@import "all/action-menu.less"; 
@import "all/nav-menu.less"; 
@import "all/table-rating.less";
@import "all/table-place.less";
@import "all/table-prices.less";
@import "all/table-free-places.less";
@import "all/table-reviews.less";
@import "all/link.less";
@import "all/table-contacts.less";
@import "all/questions-map.less";
@import "all/reviews.less";
@import "all/slider-main.less";
@import "all/slider-small.less";
@import "all/table-available-rooms.less";
@import "all/table-assessment.less";
@import "all/textarea.less";
@import "all/last-minute-tours.less";


@import "all/nav.less";
@import "all/filter-checkbox.less";
@import "all/table-places.less";
@import "all/days-grace.less";
@import "all/responsible.less";

@import "all/info-drop.less";
@import "all/popup-header-wrap.less";
@import "all/legend.less";
@import "all/expenditure-grace-days.less";
@import "all/grace-days.less";
@import "all/beadcrumbs.less";
@import "all/block-pading.less";
@import "all/table.less";
@import "all/rest-list.less";

@import "all/dropdown-list-doc.less";
