.cb-btn {
	display: inline-block;	
	position: relative;
	z-index: 10;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	color: @blue;
	line-height: 1.57;	
	padding: 9px 20px;
	margin-bottom: @sp/3;
	border-radius: 20px;
	background-color: @bg-color;
	border: solid 1px @gray;
	cursor: pointer;
	transition: 0.5s;
	
	
	&:hover {
		background-color: #fff;
	}
	
	&_blue {
		color: #fff;
		border-color: @blue;
		background-color: @blue;
		
		&:hover {
			background-color: darken(@blue, 15%);
		}
	}

	&_red {
		color: #fff;
		border-color: @red;
		background-color: @red;
		
		&:hover {
			background-color: darken(@red, 20%);
		}
	}

	&_transparent {
		border: 1px solid transparent;
		background-color: transparent;
		color: @black;
		
		&:hover {
			border: 1px solid transparent;
			background-color: transparent;
		}
	}

	&-block {
		
		display: inline-block;
		padding: 3px;
		background-color: #fff;
		border: solid 1px @gray;
		border-radius: 30px;
		float: right;
		
		.btn {
			margin-bottom: 0;
		}

		&-checkbox {
			position: relative;
			
			&__check {
				position: absolute;
				top: 2px;
				left: 2px;
				border-radius: 20px;
				background-color: @red;
				height: calc(~'100% - 4px');
				width: 80px;
				transition: 0.5s;
				z-index:5;
			}
		}
	}

	&_mb-0 {
		margin-bottom: 0;
	}

	&_pos-r {
		position: relative;
		top: -5px;
	}
}