.cb-calendar {
	display: inline-block;
	padding-right: @sp;
	margin-bottom: @sp/3;
	float: left;
	width: 25%;
	
	&__btn {
		border: solid 1px @gray;
		object-fit: contain;
		padding: 3px;
		height: 41px;
		white-space: nowrap;
		text-align: center;
		
		&:hover {
			.cb-calendar {
				&__text {
					color: lighten(@blue, 20%);
				}
			}
			
		}

	}

	&__arrow {
		display: inline-block;	
		height: 100%;
		color: @gray;
		padding:7px 5px;
		
		&_left {
			float: left;
			border-right: 1px solid @gray;
		}

		&_right {
			float: right;
			border-left: 1px solid @gray;
		}
	}

	&__text {
		display: inline-block;

		font-family: Arial;
		font-size: 14px;
		line-height: 1.57;
		text-align: center;
		padding-top: 7px;
		color: @blue;
		

	}
}