.cb-calendar {
	width: 100%;
	max-width: 250px;
	float: left;
	margin-right: 30px;
	position: relative;
	display: table-cell;
	margin-bottom: 10px;
	&__input {
		position: relative;
		    border: 2px solid #dedfe2;
		    cursor: pointer;
		    background: #fff;
		    border-radius: 4px;
		    width: 100%;
		    font-size: 14px;
		    display: block;
		    line-height: 1;
		    color: @blue;
		    padding: 0 12px 0 110px;
		    height: 40px;
	}
	&__text {
		position: absolute;
		z-index: 1;
		font-size: 14px;
		color: #363b49;
		top: 12px;
		left: 16px;
	}
	&__btn {
		margin-bottom: 10px;
		display: table-cell;
		    float: left;
	}
	

}