.cb-map {
	position: relative;
	width: 100%;
	height: 909px;

	&-elem {
		fill:#EAF2F5;
		fill-rule:evenodd;
		stroke:#BCCCD2; 
	}

}

	// #cb-map-1 {
	// 	cursor: pointer;
	//   fill: red;
	//   stroke: pink;
	//   stroke-width: 1px;
	//   stroke-dasharray: 125;
	//   stroke-dashoffset: -125;
	//   stroke-linecap: butt;
	//   -webkit-transition: all 2s ease-out;
	//   -moz-transition: all 2s ease-out;
	//   -ms-transition: all 2s ease-out;
	//   -o-transition: all 2s ease-out;
	//   transition: all 2s ease-out;
	// 	&:hover {
	// 		stroke: #ff0;
	// 	}
	// }

	// #map {
		
	// }

