.cb-questions {
	min-height: 170px;
	background: white;
	padding: 60px 40px 30px;
	.clearfix;
	
	.cb-title {
	    font-size: 21px;
	    color: black;
	    margin-bottom: 30px;
	}
	
	&__list {
		margin-bottom: 30px;
		.clearfix;
		
	}


	&__link {
		display:block;
		font-family: Arial;
		font-size: 17px;
		line-height: 1.65;
		color: @blue;
		padding-right: @sp*2;
		cursor: pointer;
		margin-bottom: 10px;
		
		.mdi {
			transition: 0.3s;
			margin-right: 5px;
		}
	}

	&__text {
		font-family: Arial;
		font-size: 14px;
		line-height: 1.57;
		color: @black;
		padding-right: @sp*2;
		padding-left: @sp*2 + 5px;
		
		transition: 0.3s;
		display: none;
		p {
			margin-bottom: 20px;
		}

		&_font-size {
			font-size: 	17px;
			line-height: 1.65;
		}
		
		.clearfix;
	}

	&__elem {
		.clearfix;
		&.active {
			.cb-questions {
				&__text {
					margin-bottom: 30px;
					display: block;
				}

				&__link {
					.mdi {
						position: relative;
						display: inline-block;
						transform: rotate(90deg);
					}
					
				}
			}
		}
	}
}
