.cb-table-places {
	width: 100%;
	border-collapse: collapse;


	&__body {
		font-size: 17px;
	}

	
	td {
		vertical-align: top;
		line-height: 1.57;
		text-align: left;
		padding: 0 10px 0 0;
		color: @blue;
		
		&:last-child {
			padding: 0;
		}

		p {
			font-weight: normal;
			font-size: 12px;
			padding-top: 5px;
			text-align: right;
			
			a {
				color: @blue;
			}
		}
		
	}

	&__header {
		font-weight: bold;
		font-size: 14px;
		
		td {

			color: @black;
		}
	}

}
