.cb-text {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: @black;
  
  &_big {
	font-size: 17px;
	line-height: 1.65;
	margin-bottom: @sp;
  }	

  &_bold {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &_mb-55 {
    margin-bottom: 55px;
  }
}

