.cb-title {
	display: inline-block;
	padding-right:@sp;
	font-family: Arial;
	font-size: 31px;
	font-weight: bold;
	line-height: 1.29;
	color: @black;
	margin: 0;
	margin-bottom: 20px;
	
	&_blue {
		color: @blue;
		
		& span {
			color: @black;
		}
	}

	&_mb-0 {
		margin-bottom: 0;
	}	
}
